body {
  margin: 0;
  line-height: normal;
}
.travelwithus6 {
  position: absolute;
  top: 47px;
  left: 73px;
  font-size: var(--font-size-xl);
  font-weight: 700;
}
.group-child7,
.login6 {
  cursor: pointer;
  padding: 0;
  position: absolute;
}
.group-child7 {
  border: 1px solid var(--color-black);
  background-color: var(--color-blue-100);
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  box-sizing: border-box;
  width: 115px;
  height: 40px;
}
.login6 {
  border: 0;
  background-color: transparent;
  top: 6px;
  left: 26px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.rectangle-parent7 {
  position: absolute;
  top: 0;
  left: 532px;
  width: 115px;
  height: 40px;
}
.home6 {
  position: relative;
  font-weight: 500;
}
.home-parent3 {
  position: absolute;
  top: 9px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.group-parent7 {
  position: absolute;
  top: 40px;
  left: 647px;
  width: 647px;
  height: 40px;
}
.cities-info-child {
  position: absolute;
  top: 954.5px;
  left: 0;
  width: 1457px;
  height: 1px;
}
.copyright-design3,
.privacy-policy3,
.terms-of-use3 {
  position: absolute;
  top: 980px;
  left: 45px;
  color: var(--color-gray-200);
  display: inline-block;
  width: 377px;
  height: 16px;
}
.privacy-policy3,
.terms-of-use3 {
  left: 1008px;
  width: 118px;
}
.privacy-policy3 {
  left: 1273px;
  width: 125px;
}
.cities-info-item {
  position: absolute;
  top: 159px;
  left: 684px;
  border-radius: var(--br-md);
  width: 645px;
  height: 680px;
  object-fit: cover;
}
.following-are-the,
.turkey {
  position: absolute;
  left: 173px;
  font-size: var(--font-size-3xl);
  display: inline-block;
}
.turkey {
  top: 186px;
  font-weight: 900;
  width: 229px;
  height: 28px;
}
.following-are-the {
  top: 244px;
  width: 561px;
  height: 96px;
}
.group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
}
.group-child9,
.hagia-sophia {
  position: absolute;
  top: 15px;
  left: 115px;
}
.group-child9 {
  top: 77px;
  left: 0;
  width: 65px;
  height: 65px;
}
.group-child10,
.the-blue-mosque {
  position: absolute;
  top: 92px;
  left: 115px;
}
.group-child10 {
  top: 154px;
  left: 0;
  width: 65px;
  height: 65px;
}
.cappadocia,
.group-child11 {
  position: absolute;
  top: 169px;
  left: 115px;
}
.group-child11 {
  top: 231px;
  left: 0;
  width: 65px;
  height: 65px;
}
.ellipse-parent,
.topkapi {
  position: absolute;
  top: 246px;
  left: 115px;
}
.ellipse-parent {
  top: 350px;
  left: 173px;
  width: 347px;
  height: 296px;
  font-size: var(--font-size-3xl);
}
.vector-icon3 {
  position: absolute;
  height: 16.89%;
  width: 12.01%;
  top: 29.3%;
  right: 22.08%;
  bottom: 53.81%;
  left: 65.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cities-info-child1,
.cities-info-inner {
  position: absolute;
  top: 864px;
  left: 701px;
  width: 30px;
  height: 23px;
}
.cities-info-child1 {
  left: 764px;
  cursor: pointer;
}
.cities-info {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
