body {
  margin: 0;
  line-height: normal;
}
.landing-child {
  top: 137px;
  height: 439px;
  object-fit: cover;
}
.landing-child,
.landing-inner,
.landing-item,
.rectangle-div {
  position: absolute;
  left: 54px;
  border-radius: var(--br-sm);
  width: 1313px;
}
.landing-item {
  top: 137px;
  background: linear-gradient(
    90deg,
    rgba(120, 67, 131, 0.68) 21.27%,
    rgba(227, 227, 227, 0) 86.66%
  );
  height: 448px;
}
.landing-inner,
.rectangle-div {
  top: 136px;
  height: 508px;
}
.rectangle-div {
  left: 73px;
  width: 1294px;
}
.travelwithus {
  position: absolute;
  top: 47px;
  left: 73px;
  font-size: var(--font-size-xl);
  font-weight: 700;
}
.landing-child1 {
  position: absolute;
  top: 550px;
  left: 169px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: -22px 23px 25px rgba(191, 191, 191, 0.25),
    22px 22px 25px rgba(191, 191, 191, 0.25);
  width: 1103px;
  height: 208px;
}
.swiming {
  position: absolute;
  top: 716px;
  left: 200px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 97px;
  height: 23px;
}
.landing-child2 {
  position: absolute;
  top: 633px;
  left: 212px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 73px;
  height: 73px;
}
.wi-fi {
  position: absolute;
  top: 716px;
  left: 343px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 52px;
  height: 23px;
}
.landing-child3 {
  position: absolute;
  top: 633px;
  left: 332px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 73px;
  height: 73px;
}
.ac {
  position: absolute;
  top: 716px;
  left: 460px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 33px;
  height: 23px;
}
.landing-child4 {
  position: absolute;
  top: 633px;
  left: 440px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 73px;
  height: 73px;
}
.vector-icon {
  position: absolute;
  height: 3.61%;
  width: 2.57%;
  top: 63.96%;
  right: 65.76%;
  bottom: 32.42%;
  left: 31.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dinner,
.landing-child5 {
  position: absolute;
  left: 548px;
  width: 73px;
}
.dinner {
  top: 716px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  height: 23px;
}
.landing-child5 {
  top: 633px;
  border-radius: var(--br-md);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 73px;
}
.group-icon {
  position: absolute;
  height: 3.44%;
  width: 3.19%;
  top: 63.87%;
  right: 57.78%;
  bottom: 32.69%;
  left: 39.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-icon,
.landing-child6,
.landing-child7 {
  position: absolute;
  top: 674px;
  left: 1120px;
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.landing-child6,
.landing-child7 {
  left: 930px;
}
.landing-child7 {
  left: 1025px;
}
.group-child,
.login {
  cursor: pointer;
  padding: 0;
  position: absolute;
}
.group-child {
  border: 1px solid var(--color-black);
  background-color: var(--color-blue-100);
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  box-sizing: border-box;
  width: 115px;
  height: 40px;
}
.login {
  border: 0;
  background-color: transparent;
  top: 6px;
  left: 26px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 532px;
  width: 115px;
  height: 40px;
}
.home {
  position: relative;
  font-weight: 500;
}
.home-parent {
  position: absolute;
  top: 9px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.group-parent {
  position: absolute;
  top: 42px;
  left: 720px;
  width: 647px;
  height: 40px;
}
.airlines4 {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.enjoy-your {
  margin-block-start: 0;
  margin-block-end: 0;
}
.dream-vacation {
  margin: 0;
  font-size: 59px;
}
.enjoy-your-dream-container,
.the-vacation-you {
  position: absolute;
  top: 225px;
  left: 169px;
  font-size: 55px;
}
.the-vacation-you {
  top: 360px;
  font-size: 28px;
  display: inline-block;
  width: 405px;
  height: 49px;
}
.facilities {
  position: absolute;
  top: 3px;
  left: 0;
}
.hotels-for-you,
.see-more {
  position: absolute;
  top: 9px;
  left: 452px;
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.see-more {
  top: 17px;
  left: 332px;
  font-size: var(--font-size-sm);
  color: #ff8a00;
}
.rectangle-input {
  border: 0;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  left: 682px;
  border-radius: var(--br-md);
  width: 315px;
  height: 46px;
}
.facilities-parent,
.group-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 997px;
  height: 46px;
}
.group-icon1 {
  height: 45.01%;
  width: 2.08%;
  top: 26.09%;
  right: 1.43%;
  bottom: 28.9%;
  left: 96.49%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent3 {
  position: absolute;
  top: 576px;
  left: 212px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  width: 997px;
  height: 46px;
  font-size: var(--font-size-3xl);
}
.days-6-nights {
  position: absolute;
  top: 634px;
  left: 683px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: #a0a0a0;
}
.group-child2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #0500ff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 152px;
  height: 48px;
}
.pkr20000 {
  position: absolute;
  top: 0;
  left: 30px;
  font-weight: 900;
  display: inline-block;
  width: 120px;
}
.group-icon2 {
  position: absolute;
  height: 104.76%;
  width: 14.67%;
  top: -4.76%;
  right: 86%;
  bottom: 0;
  left: -0.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.pkr20000-parent {
  position: absolute;
  top: 13px;
  left: 12px;
  width: 150px;
  height: 21px;
}
.rectangle-parent3 {
  position: absolute;
  top: 691px;
  left: 679px;
  width: 162px;
  height: 48px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.landing-child8,
.vector-icon1 {
  position: absolute;
  height: 3.13%;
  width: 2.92%;
  top: 63.87%;
  right: 72.92%;
  bottom: 33.01%;
  left: 24.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.landing-child8 {
  height: 3.2%;
  width: 3.33%;
  right: 81.32%;
  bottom: 32.93%;
  left: 15.35%;
}
.search {
  position: absolute;
  top: 585px;
  left: 910px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.landing-child9 {
  position: absolute;
  top: 968.5px;
  left: 0;
  width: 1457px;
  height: 1px;
}
.copyright-design,
.terms-of-use {
  top: 989px;
  color: var(--color-gray-200);
  height: 16px;
}
.copyright-design {
  position: absolute;
  left: 54px;
  display: inline-block;
  width: 377px;
}
.terms-of-use {
  left: 1017px;
  width: 118px;
}
.get-better-work,
.privacy-policy,
.terms-of-use {
  position: absolute;
  display: inline-block;
}
.privacy-policy {
  top: 989px;
  left: 1282px;
  color: var(--color-gray-200);
  width: 125px;
  height: 16px;
}
.get-better-work {
  top: 783px;
  left: 556px;
  font-size: 50px;
  font-weight: 500;
  width: 345px;
  height: 43px;
}
.uses-desh-dot {
  margin: 0;
}
.see-why-million-container {
  position: absolute;
  top: 841px;
  left: 574px;
  font-size: var(--font-size-sm);
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 309px;
  height: 30px;
}
.frame-child,
.group-child3 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-child {
  border: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-sm);
  background-color: transparent;
  width: 264px;
  height: 54px;
}
.group-child3 {
  border-radius: var(--br-sm);
  background-color: var(--color-blue-100);
  width: 109px;
  height: 46px;
}
.group-button,
.try-free {
  cursor: pointer;
  position: absolute;
}
.try-free {
  top: 12px;
  left: 19px;
  font-size: var(--font-size-sm);
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
}
.group-button {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 276px;
  width: 109px;
  height: 46px;
}
.group-parent4 {
  position: absolute;
  top: 907px;
  left: 536px;
  width: 385px;
  height: 62px;
  overflow: hidden;
}
.landing {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
